[Unit]
Description=My Miscellaneous Service
After=network.target

[Service]
Type=simple
User=commander
WorkingDirectory=/home/commander
ExecStart=/home/commander/rundaemon
Restart=on-abort

[Install]
WantedBy=multi-user.target
